[
  {becareful, [
  ]},

  {lager, [
    {handlers, [
      {lager_console_backend, [
        {level, debug},
        {formatter, lager_default_formatter},
        {formatter_config, [color, time, " [", severity, "] ",
                            {module, [module, ":", {function, ""}, ":", line, ": "], ""},
                            message, {eol, "\e[0m\r\n"}]}
      ]},
      {lager_file_backend,
        [{file, "/tmp/logs/becareful/debug.log"},
          {level, debug},
          {size, 10485760},
          {date, "$D0"},
          {count, 1}]},
      {lager_file_backend,
        [{file, "/tmp/logs/becareful/info.log"},
          {level, info},
          {size, 10485760},
          {date, "$D0"},
          {count, 1}]},
      {lager_file_backend,
        [{file, "/tmp/logs/becareful/error.log"},
          {level, error},
          {size, 10485760},
          {date, "$D0"},
          {count, 1}]}
    ]},
    {colored, true},
    {crash_log, "/tmp/logs/becareful/crash.log"},
    {crash_log_msg_size, 65536},
    {crash_log_size, 10485760},
    {crash_log_date, "$D0"},
    {crash_log_count, 1}
  ]}
].
